.modal_film_card {
  color: rgb(245, 10, 213);
}
.modal-film__container {
  margin: 20px;
}
.modal-film__card {
  padding: 20px;
  max-width: 280px;
  height: auto;
  background-color: beige;
  @include mq(tablet) {
    max-width: 704px;
    padding-left: 36px;
    padding-top: 40px;
  }
  @include mq(desktop) {
    max-width: 806px;
    height: 558px;
    padding-left: 12px;
  }
}
.modal-film__list {
  @include mq(tablet) {
    display: flex;
  }
}
.modal-film__wrapper {
  @include mq(tablet) {
    display: flex;
    flex-direction: column;
    margin-left: 68px;
  }
  @include mq(desktop) {
    margin-left: 16px;
  }
}
.modal-film__img {
  width: 240px;
  height: 357px;
  @include mq(tablet) {
    width: 264px;
    height: 373.551px;
  }
  @include mq(desktop) {
    width: 375px;
    height: 478px;
  }
}
.modal-film__button {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
  @media (min-width: 768px) {
    gap: 15px;
  }
  @media (min-width: 1280px) {
    padding-bottom: 16px;
  }
}
.modal-film__button-close {
  cursor: pointer;
  position: absolute;
}
.modal-film__title {
  color: get-color(brand_color-second);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.34;
  margin-top: 20;
  margin-bottom: 20;
  @include mq(tablet) {
    margin-top: 0;
  }
  @include mq(desktop) {
    font-size: 30px;
    line-height: normal;
  }
}
.modal-film__content {
  display: flex;
}

.modal-film__content-left {
  margin-right: 39px;
}
.modal-film__content-text {
  color: #8c8c8c;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 8px;
}
.modal-film__rate {
  display: flex;
}
.modal-film__rate-content {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 8px;
}
.modal-film__about {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  margin-top: 12px;
  margin-bottom: 8px;
  @include mq(tablet) {
    line-height: 20px;
  }
}
.modal-film__text {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 20px;
  @include mq(tablet) {
    width: 264px;
    height: 236px;
  }
  @include mq(desktop) {
    width: 391px;
    height: 160px;
  }
}
.vote {
  width: 36px;
  height: 16px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #ff6b01;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slash {
  margin-right: 7px;
  margin-left: 2px;
  color: #8c8c8c;
}
